/* * {
    border: 0.3px solid blue;
} */
* {
    padding: 5px;
}
tr {
    border: 0.3px solid blue;
    text-align: center
}

td {
    border: 0.3px solid blue;
    text-align: center
}

.full-button {
    border-width: 1.3px;
    color: black;
}